body{
    background-image: url("bg.jpg");
}
.hskt{
    font-size: 200%;
    line-height: 2;
    box-shadow: 10px 10px 20px darkgoldenrod ;
    width: 100%;
    
}
 

.discoo{
width: 200px;
margin: 50px;
}
.disco{
width: 200px;
margin: 50px;
}